@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&family=Fira+Sans:wght@300;400;500;600;700;900&family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nabla:EDPT,EHLT@30..200,24&display=swap");

body {
    font-family: "Inter";
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.images {
    width: 40%;
    min-width: 40%;
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
    margin: 10px;
}
.images-test{
    width: 20%;
    min-width: 20%;
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
    margin: 10px;
}
.images-gallery{
    width: 31%;
    min-width: 31%;
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
    margin: 10px;
}
.inside {
    width: 100%;
    display: flex;
}
.desc p {
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

/* Categories */
.categories {
    margin: 20px;
    display: block;
    margin: auto;
    width: 75%;
}
.categories h2 {
    border: 2px solid white;
    padding: 15px;
    border-radius: 10px;
}

